body{
	background: #DDDDDD;
	font-family: 'Arya', sans-serif;
	background-image: url('img/white1.jpg')
}
p{
	margin: 0;
}
h2{
	font-size: 16;
    margin: 3px 0px 1px 0;
    font-weight: bold;
    margin-left: -3px;
}

		.buttonHolder{


			    position: fixed;
   				bottom: 50px;
			}
		.button{
			font-weight: bold;
			background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:right;
			height: 150px;
			margin: 0 30px 30px 0;
			position: relative;
			width: 150px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		}
		.button:after{
			color:#616161;
			content: "";
			display: block;
			font-size: 8em;
			text-decoration: none;
			text-shadow: 3px 3px 1px #bdb5b4, 3px 3px 1px white;
			position: absolute;
		}
		.tick:after{
			content: "+1";
			left:10px;
			top:0px;
		}
		.button:active{
			background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
			background-image: linear-gradient(top, #efedec, #f7f4f4);
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
		}
		.button:active:after{
			color:#B7B7B7;
			text-shadow: 0px 0px 1px #bdb5b4, 0px 0px 1px white;
		}
.appConsole{
	margin-top:50px;
	font-size: 10em;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}
.appHeader{
	height: 80px;
	background-color:white;
	box-shadow: 0 3px 5px 0 rgba(150, 150, 150, 1)
}
.appHeader>div{
	display: inline-table;
	border-left: 1px solid gray;
	width: 48%;
	height: 80px;
	font-size: 14px;
	vertical-align: top;
	padding-left: 5px;
}	
.hStart>span, .hLong>span{
	margin-top: 10px;
	width: 100%;
	display: block;
	text-align: right;
	font-size: 18px;

}
.stopCounter{
	text-shadow: 2px 2px 5px rgb(228, 228, 228);
    color: #9F9F9F;
}

/*Блок статистики*/	
.appHeader>h2{
	margin-left: 5px;
	mar
}
/*Конец блока статистики*/	